@model Hasse.Web.Models.Main.IndexViewModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@if (Model.CanAddStory) {
    <p><button>+ Verhaal</button></p>
}

@if (Model.Stories.Any()) {

    foreach (var  story in Model.Stories) {}
}
else {
    <p>Er zijn geen verhalen beschikbaar.</p>
}

