@model Hasse.Web.Models.AuthModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <p>AccessToken: @Model.AccessToken</p>
        <p>Me: @Model.Name</p>
        <p>Email: @Model.Email</p>
    </body>
</html>